/* You can add global styles to this file, and also import other style files */

.nb-theme-default [nbInput].size-medium:not(.input-full-width) {
  max-width: unset !important;
}

.angular-editor .angular-editor-wrapper .angular-editor-textarea {
  min-height: 15rem !important;
  padding: 0.5rem 0.8rem 1rem;
  border: 1px solid #ddd;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  color: #fefefe;
  cursor: default;
}
.pagination {
  justify-content: end !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 20px;
  /* padding-bottom: 44px; */
  background-color: #edf1f7 !important;
}

.mat-mdc-text-field-wrapper {
  width: 100%;
  height: 44px !important;
}
.nb-theme-default nb-select.appearance-outline.status-basic .select-button:focus {
  background-color: #fff !important;
  border-color: #36f;
}
.nb-theme-default nb-select.appearance-outline.status-basic .select-button.placeholder {
  color: black !important;
}



